.placeholder(@rules){
  &::-webkit-input-placeholder{
    @rules();
  }

  &:-moz-placeholder{
    @rules();
  }

  &::-moz-placeholder{
    @rules();
  }

  &:-ms-input-placeholder{
    @rules();
  }
}



body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  background-color: #F5F5F5;
  color: #4D4D4D;
}
h1{
  color: #EAD7D7;
  font-size: 64px;
  text-align: center;
  margin: 20px 0;
  font-weight: normal;
}
input{
  color: #4D4D4D;
}


.todos{
  margin: 10px auto;
  max-width: 600px;

  button{
    border: none!important;
    background: transparent!important;
    outline: none!important;
    cursor: pointer;
    color: #777;
    padding: 6px;

    &:hover{
      color: #000;
    }
    &.active{
      border: 1px solid #EFD5D5!important;
      border-radius: 3px;
    }
  }

  .todos-container{
    background-color: #FFF;
    box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.5);
    border-radius: 5px;

    .todo{
      position: relative;
      border-bottom: 1px solid #EDEDED;

      input[type=checkbox]{
        position: absolute;
        top: 16px;
        left: 10px;
      }

      .todo-name-wrapper{
        padding: 0 40px;

        input[type=text]{
          font-size: 24px;
          width: 100%;
          margin: 10px 0;
          border: none!important;
          outline: none!important;

          &.completed{
            color: #D9D9E6;
            text-decoration: line-through;
          }

          .placeholder({
            color: #F2F2F4;
            font-style: italic;
            font-weight: normal;
            font-size: 18px;
          })
        }
      }

      &.new{
        border-bottom: 1px solid #E6E6E6;
        background-color: #FEFEFE;
        box-shadow: inset 0px -1px 1px 0px rgba(50, 50, 50, 0.3);
        border-radius: 5px 5px 0 0;


        button{
          position: absolute;
          right: 10px;
          top: 17px;
          padding: 0 3px;
        }
      }

      &-footer{
        text-align: center;
        position: relative;
        color: #777;
        padding: 5px 0;

        button{
          &:last-child{
            position: absolute;
            right: 15px;
            padding-right: 0;
          }
        }

        span{
          position: absolute;
          left: 15px;
          padding: 6px 0;
        }
      }
    }
  }
}