<!DOCTYPE html>
<html lang="en" ng-app="jvlTodos">
<head>
    <meta charset="UTF-8">
    <title>JVL Test Task</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/lib/angularjs/angular.min.js"></script>

    <script src="js/models/todo.js"></script>
    <script src="js/models/todos.js"></script>

    <script src="js/app.js"></script>
</head>
<body>
<section class="todos">
    <h1>todos</h1>
    <div class="todos-container" ng-controller="ToDoCtrl">
        <div class="todo new">
            <input type="checkbox" ng-model="newToDo.completed" />
            <div class="todo-name-wrapper">
                <input enter-press="addNewToDo()"
                       type="text"
                       placeholder="What needs to be done?"
                       ng-model="newToDo.name"
                />
            </div>
            <button class="active" ng-show="newToDo.name" ng-click="addNewToDo()">+</button>
        </div>
        <div ng-repeat="todo in todos.result" class="todo">
            <input ng-click="todos.updateResult()" type="checkbox" ng-model="todo.completed" />
            <div class="todo-name-wrapper">
                <input  ng-class="{completed: todo.completed}"
                        ng-focus="onBeforeEdit(todo)"
                        ng-blur="onAfterEdit(todo)"
                        type="text"
                        placeholder="This field cannot be empty"
                        ng-model="todo.name"
                />
            </div>
        </div>
        <div class="todo-footer">
            <span>{{leftText}}</span>

            <button ng-click="todos.changeFilterState(todos.FILTER_SHOW_ALL)"
                    ng-class="{active: todos.filterState == todos.FILTER_SHOW_ALL}">
                All
            </button>

            <button ng-click="todos.changeFilterState(todos.FILTER_SHOW_ACTIVE)"
                    ng-class="{active: todos.filterState == todos.FILTER_SHOW_ACTIVE}">
                Active
            </button>

            <button ng-click="todos.changeFilterState(todos.FILTER_SHOW_COMPLETED)"
                    ng-class="{active: todos.filterState == todos.FILTER_SHOW_COMPLETED}">
                Completed
            </button>

            <button ng-click="todos.clearCompleted()">Clear completed</button>
        </div>
    </div>
</section>
</body>
</html>